<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<!--<suite name="TestSuite" thread-count="3" parallel="methods" >-->
    <!--<test name="Test1">-->
        <!--<classes>-->
            <!--<class name="tests.ValidData">-->
                <!--<methods><include name="testRobert" /></methods>-->
            <!--</class>-->
        <!--</classes>-->
    <!--</test>-->
    <!--<test name="Test2">-->
        <!--<classes>-->
            <!--<class natests.NoLastNametRun">-->
                <!--<methods><include name="testPolson" /></methods>-->
            <!--</class>-->
        <!--</classes>-->
    <!--</test>-->
<!--</suite>-->

<suite name="TestSuite" verbose="1" parallel="classes" thread-count="3">
    <test name="TestParallel" >
        <classes>
            <class name="tests.TestRun"></class>
            <class name="tests.ValidData"></class>
            <class name="tests.InvalidLogin"></class>
        </classes>

    </test>
</suite>